body{
    background: black;
}
div{
    width:50%;
    margin:100px 25% 0% 25%;
    color: white;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
}
img{
    border: 5px solid white;
    width:100%;
}
h1{
    text-transform: uppercase;
}